.information-wrapper {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .information-container {
    margin: 50px;

    .information-title {
      color: #D86F45;
      font-size: 24px;
      font-weight: bold;
    }

    .information-description {
      margin-top: 10px;
    }
  }

  .information-action {
    display: flex;
    justify-content: space-between;
    margin: 50px;

    .information-button {
      width: 48%;
      background-color: #FFF5EE;
      color: #D86F45;
      border: none;
      border-radius: 5px;
      box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
      padding: 10px 15px;
      cursor: pointer;
      transition: all 0.3s ease;

      &.none {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
        cursor: not-allowed;

        &:hover {
          box-shadow: #D6D6E7 0 3px 7px inset;
          transform: translateY(2px);
        }

        &:active {
          box-shadow: #D6D6E7 0 3px 7px inset;
          transform: translateY(2px);
        }
      }
      
      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(2px);
        box-shadow: #D6D6E7 0 3px 7px inset;
      }
    }
  }
}
