.form-container {
  width: 70%;
  height: 100%;
  
  .form-section {
    height: calc(100% - 100px);
    background-color: #F5D6B4;
    border-radius: 10px;
    overflow: auto;
    margin: 25px;
    padding: 25px;

    .form-title {
      color: #D86F45;
      font-size: 20px;
      font-weight: bold;
    }

    .form-description {
      color: #13151B;
      font-size: 12px;
    }
  }
}
